<div class="layout layout-vertical layout-left-navigation layout-above-toolbar layout-above-footer mat-typography">

  <main>
  <app-header></app-header>
    <div id="wrapper">
        <aside id="aside" class="aside aside-left " data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left">
            <div class="aside-content bg-primary-700 text-auto ">

                <div class="aside-toolbar">

                    <div class="logo">
                        <img src="../../assets/rms logo.png" height="32" alt="F">
                        <span class="logo-text">RMS Solutions</span>
                    </div>

                    <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block" data-fuse-aside-toggle-fold>
                        <i class="icon icon-backburger"></i>
                    </button>

                </div>

                <ul class="nav flex-column custom-scrollbar" id="sidenav" data-children=".nav-item">

                    <li class="subheader">
                        <span>APPS</span>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link ripple " href="apps-calendar.html" data-url="index.html">

                            <i class="icon s-4 icon-calendar-today"></i>

                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-item" role="tab" id="heading-ecommerce">

                        <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-company" href="#" aria-expanded="false" aria-controls="collapse-company">
    
                            <i class="icon s-4 icon-cart"></i>
    
                            <span>Company</span>
                        </a>
                        <ul id="collapse-company" class='collapse ' role="tabpanel" aria-labelledby="heading-company" data-children=".nav-item">
    
                            <li class="nav-item">
                                <a class="nav-link ripple " [routerLink]="['/addcompany']" data-url="index.html">
    
                                    <span>Add company</span>
                                </a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link ripple " [routerLink]="['/listcompany']" data-url="index.html">
    
                                    <span>Company list</span>
                                </a>
                            </li>
    
    
    
                        </ul>
                    </li>

                    <li class="nav-item" role="tab" id="heading-ecommerce">

                        <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-ecommerce" href="#" aria-expanded="false" aria-controls="collapse-ecommerce">

                            <i class="icon s-4 icon-cart"></i>

                            <span>Product</span>
                        </a>
                        <ul id="collapse-ecommerce" class='collapse ' role="tabpanel" aria-labelledby="heading-ecommerce" data-children=".nav-item">

                            <li class="nav-item">
                                <a class="nav-link ripple " [routerLink]="['/addproduct']" data-url="index.html">

                                    <span>Add Product</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link ripple " [routerLink]="['/listproduct']">

                                    <span>Product list</span>
                                </a>
                            </li>



                        </ul>
                    </li>


                    <li class="nav-item" role="tab" id="heading-ecommerce">

                      <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-project" href="#" aria-expanded="false" aria-controls="collapse-project">

                          <i class="icon s-4 icon-cart"></i>

                          <span>Project</span>
                      </a>
                      <ul id="collapse-project" class='collapse ' role="tabpanel" aria-labelledby="heading-project" data-children=".nav-item">

                          <li class="nav-item">
                              <a class="nav-link ripple" [routerLink]="['/addproject']" routerLinkActive="router-link-active"  data-url="index.html">

                                  <span>Add Project</span>
                              </a>
                          </li>

                          <li class="nav-item">
                              <a class="nav-link ripple " [routerLink]="['/listproject']" data-url="index.html">

                                  <span>Project list</span>
                              </a>
                          </li>



                      </ul>
                  </li>


                  


                <li class="nav-item" role="tab" id="heading-ecommerce">

                  <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-presentation" href="#" aria-expanded="false" aria-controls="collapse-presentation">

                      <i class="icon s-4 icon-cart"></i>

                      <span>Presentation</span>
                  </a>
                  <ul id="collapse-presentation" class='collapse ' role="tabpanel" aria-labelledby="heading-presentation" data-children=".nav-item">

                      <li class="nav-item">
                          <a class="nav-link ripple " [routerLink]="['/add-presentation']" data-url="index.html">

                              <span>Add Presentation</span>
                          </a>
                      </li>

                      <li class="nav-item">
                          <a class="nav-link ripple " [routerLink]="['/list-presentation']" data-url="index.html">

                              <span>Presentation list</span>
                          </a>
                      </li>



                  </ul>
              </li>




              <li class="nav-item" role="tab" id="heading-ecommerce">

                <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-reference" href="#" aria-expanded="false" aria-controls="collapse-reference">

                    <i class="icon s-4 icon-cart"></i>

                    <span>Reference</span>
                </a>
                <ul id="collapse-reference" class='collapse ' role="tabpanel" aria-labelledby="heading-reference" data-children=".nav-item">

                    <li class="nav-item">
                        <a class="nav-link ripple " [routerLink]="['/add-reference']" data-url="index.html">

                            <span>Add Reference</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " [routerLink]="['/list-reference']" data-url="index.html">

                            <span>Reference list</span>
                        </a>
                    </li>



                </ul>
            </li>

            <li class="nav-item" role="tab" id="heading-ecommerce">

                <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-media" href="#" aria-expanded="false" aria-controls="collapse-media">

                    <i class="icon s-4 icon-cart"></i>

                    <span>Media</span>
                </a>
                <ul id="collapse-media" class='collapse ' role="tabpanel" aria-labelledby="heading-media" data-children=".nav-item">

                    <li class="nav-item">
                        <a class="nav-link ripple " [routerLink]="['/add-media']" data-url="index.html">

                            <span>Add Media</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " [routerLink]="['/list-media']" data-url="index.html">

                            <span>Media list</span>
                        </a>
                    </li>



                </ul>
            </li>







                </ul>
            </div>

        </aside>
        <div class="content-wrapper page">
            <div class="content ass">

                <router-outlet></router-outlet>



            </div>
        </div>
        <div class="quick-panel-sidebar" fuse-cloak data-fuse-bar="quick-panel-sidebar" data-fuse-bar-position="right">
            <div class="list-group" class="date">

                <div class="list-group-item subheader">TODAY</div>

                <div class="list-group-item two-line">

                    <div class="text-muted">

                        <div class="h1"> Friday</div>

                        <div class="h2 row no-gutters align-items-start">
                            <span> 4</span>
                            <span class="h6">th</span>
                            <span> Apr</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <div class="list-group">

                <div class="list-group-item subheader">Events</div>

                <div class="list-group-item two-line">

                    <div class="list-item-content">
                        <h3>Group Meeting</h3>
                        <p>In 32 Minutes, Room 1B</p>
                    </div>
                </div>

                <div class="list-group-item two-line">

                    <div class="list-item-content">
                        <h3>Public Beta Release</h3>
                        <p>11:00 PM</p>
                    </div>
                </div>

                <div class="list-group-item two-line">

                    <div class="list-item-content">
                        <h3>Dinner with David</h3>
                        <p>17:30 PM</p>
                    </div>
                </div>

                <div class="list-group-item two-line">

                    <div class="list-item-content">
                        <h3>Q&amp;A Session</h3>
                        <p>20:30 PM</p>
                    </div>
                </div>

            </div>

            <div class="divider"></div>

            <div class="list-group">

                <div class="list-group-item subheader">Notes</div>

                <div class="list-group-item two-line">

                    <div class="list-item-content">
                        <h3>Best songs to listen while working</h3>
                        <p>Last edit: May 8th, 2015</p>
                    </div>
                </div>

                <div class="list-group-item two-line">

                    <div class="list-item-content">
                        <h3>Useful subreddits</h3>
                        <p>Last edit: January 12th, 2015</p>
                    </div>
                </div>

            </div>

            <div class="divider"></div>

            <div class="list-group">

                <div class="list-group-item subheader">Quick Settings</div>

                <div class="list-group-item">

                    <div class="list-item-content">
                        <h3>Notifications</h3>
                    </div>

                    <div class="secondary-container">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" />
                            <span class="custom-control-indicator"></span>
                        </label>
                    </div>

                </div>

                <div class="list-group-item">

                    <div class="list-item-content">
                        <h3>Cloud Sync</h3>
                    </div>

                    <div class="secondary-container">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" />
                            <span class="custom-control-indicator"></span>
                        </label>
                    </div>

                </div>

                <div class="list-group-item">

                    <div class="list-item-content">
                        <h3>Retro Thrusters</h3>
                    </div>

                    <div class="secondary-container">

                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" />
                            <span class="custom-control-indicator"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <nav id="footer" class="bg-dark text-auto row no-gutters align-items-center px-6">
        <a class="btn btn-secondary text-capitalize" href="http://themeforest.net/item/fuse-angularjs-material-design-admin-template/12931855?ref=srcn" target="_blank">
            <i class="icon icon-cart mr-2 s-4"></i>Purchase FUSE Bootstrap
        </a>
    </nav>
  </main>


</div>
