<div class="content-wrapper page">
  <div class="content">
    <div id="login" class="">
      <div class="auth">
        <mat-horizontal-stepper linear="true" class="container overflow custom-scrollbar" #stepper>
          
          <mat-step>
            <div id="logo" class="row text-center">
              <div>
                <!--<img class="" src="images/1/logoRMS.png" width="150" height="80">-->
                <img src="../../assets/rms logo.png" height="100" />
              </div>
            </div>
            <br />

            <!--	<h2 class="fs-title"  Style="border-bottom:2px solid deepskyblue"  border-sizing="100px" align="center"><br/>Sign in with RMS</h2>
                                    <hr Style="border-bottom:2px solid deepskyblue" style="color:#cfdaeb" width="13%" class="col-lg-pull-4" >
                                    <hr Style="border-bottom:2px solid lightgray;color:#cfdaeb" width="13%" align="center" >-->

            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <hr
                  Style="border-bottom:2px solid deepskyblue;color:#cfdaeb;padding-left: 200px;padding-right: 100px"
                  width="13%"
                />
              </div>
              <div class="col-md-4"></div>
            </div>

            <h3 class="fs-title" align="center">Sign in with RMS</h3>

            <!-- Login-->
            <div class="row">
              <div class="col-md-6" style="height:350px;">
                <div class="card">
                  <div class="card-header">
                    I'm already an RMS customer
                  </div>
                  <div class="card-body">
                    <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
                      {{errorMsg}}
                      <button type="button" class="close" (click)="dismissAlert()">
                        <span class="material-icons">
                          close
                          </span>
                      </button>
                    </div>
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                      <div class="m-3">
                        <input
                          class="form-control"
                          name="email"
                          id="emailLogin"
                          type="email"
                          placeholder="Email address"
                          formControlName="email"
                          required
                        />
                      </div>

                      <div class="m-3">
                        <input
                          class="form-control"
                          id="password"
                          type="password"
                          placeholder="Password"
                          formControlName="motpass"
                          required
                        />
                      </div>

                      <!--<input type="submit" value="Login">-->
                      <div class="text-center">
                        <button
                          mat-flat-button
                          type="submit"
                          color="primary"
                          style="width: 50%;margin-top: 20px;"
                          [disabled]="isLoading"
                        >
                          <span *ngIf="!isLoading">Login</span>
                          <div *ngIf="isLoading" class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              <!-- CreateAccount-->
              <div class="col-md-6" style="height:350px;">
                <div class="card">
                  <div class="card-header">
                    I'm new to RMS
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>

                    <div class="pull-left" style="padding-left:20px">
                      <p>Create an RMS account for :</p>
                    </div>
                    <br />
                    <br />
                    <div style="padding-left:60px">
                      <ul>
                        <li class="pull-left">Manage your services</li>
                        <br />
                        <li class="pull-left">
                          Manage your orders in progress
                        </li>
                        <br />
                        <li class="pull-left">
                          Manage your bills and payment methods
                        </li>
                        <br />
                      </ul>
                      <br />
                    </div>

                    <div class="text-center">
                      <button
                          mat-flat-button
                          type="button"
                          color="primary"
                          style="width: 50%;margin-top: 20px;"
                          matStepperNext
                        >
                        Add Company
                        </button>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>

            <!-- Forgot Password-->
            <div id="divForgotPassword" style="display: none;">
              <div id="container-login">
                <br />
                <div class="form__field">
                  <input
                    class="form-control"
                    id="emailPwdForgot"
                    type="email"
                    style="width:55%"
                    placeholder="Email address"
                    required
                  />
                </div>
                <br />
                <input
                  type="submit"
                  class="btn btn-info prism zeroclip"
                  style="padding: 10px 50px;color:black"
                  value="Send"
                />
                <br />
                <br />
                <p>
                  <a href="#">
                    <span class="glyphicon glyphicon-edit"></span> Return</a
                  >
                </p>
              </div>
            </div>

            <!-- <div class="mt-5" style="float: right;margin-top: 80px;">
              <button mat-stroked-button color="primary" matStepperPrevious>
                Previous
              </button>

              <button
                mat-flat-button
                color="primary"
                class="mx-2"
                matStepperNext
                [disabled]="!isUserLoggedIn"
              >
                Next
              </button>
            </div> -->
          </mat-step>

          

          <mat-step>
            <h1 class="text-center mt-5 text-bold text-black">
              Number Of Users
            </h1>

            <div class="row mt-5">
              <div class="col-6">
                <h3>choose your number of users</h3>
              </div>

              <div class="col-6">
                  <select name="" id="" class="form-control" [formControl]="nbOfUsers" required>
                    <option value=6
                      ><p>
                        6 Users
                        <span>20 DT</span>
                      </p></option
                    >
                    <option value=15
                      >15 Users
                      
                      <span>40 DT</span></option
                    >
                    <option value=50
                      >50 Users
                      
                      <span>65 DT</span></option
                    >
                    <option value=0
                      >Unlimited users
                      
                      <span>80 DT</span>
                    </option>
                  </select>

              </div>
            </div>

            <div class="mt-5" style="float: right;margin-top: 80px;">
              <button mat-stroked-button color="primary" class="mx-2" matStepperPrevious>
                Previous
              </button>

              <button
              mat-flat-button
              color="primary"
              matStepperNext
              class="mx-2"
              style="float: right;"
              [disabled]="nbOfUsers.invalid"
            >
              Next
            </button>
            </div>
            
          </mat-step>

          <mat-step>
            <h1 class="text-center mt-5 text-bold text-black">
              Users
            </h1>
            <div *ngIf="quotaExceeded" class="alert alert-danger" role="alert">
              Number of users has exceeded the quota.
            </div>
            <div *ngIf="wrongInput" class="alert alert-danger" role="alert">
              Enter a valid email.
              <button type="button" class="close" (click)="dismissAlert()">
                <span class="material-icons">
                  close
                  </span>
              </button>
            </div>
            <form [formGroup]="addUserForm" class="form-inline" (ngSubmit)="addUser()">
              <label class="sr-only" for="inlineFormInputName1">Name</label>
              <input type="text" class="form-control mb-5 mr-sm-5" id="inlineFormInputName1" placeholder="Name" formControlName="name" required>
            
              <label class="sr-only" for="inlineFormInputName2">Name</label>
              <input type="text" class="form-control mb-5 mr-sm-5" id="inlineFormInputName2" placeholder="Email" formControlName="email" required>

              <label class="sr-only" for="inlineFormInputName3">Name</label>
              <select class="form-control mb-5 mr-sm-5" id="inlineFormInputName3" formControlName="role" required>
                <option selected>Type</option>
                <option value="admins">Admin</option>
                <option value="managers">Manager</option>
                <option value="editors">Editor</option>
                <option value="viewers">Viewer</option>
              </select>
            
              <button type="submit" class="btn btn-primary mb-5">ADD</button>
            </form>
            <mat-list>
              <div mat-subheader>Admins</div>
              <mat-list-item *ngFor="let u of admins">
                <mat-icon mat-list-icon>account_box</mat-icon>
                <div mat-line>{{u.name}}</div>
                <div mat-line> {{u.email}} </div>
                <button mat-icon-button color="warn" (click)="removeUser(u)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-list-item>
              <mat-divider></mat-divider>
              <div mat-subheader>Managers</div>
              <mat-list-item *ngFor="let u of managers">
                <mat-icon mat-list-icon>account_box</mat-icon>
                <div mat-line>{{u.name}}</div>
                <div mat-line> {{u.email}} </div>
                <button mat-icon-button color="warn" (click)="removeUser(u)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-list-item>
              <mat-divider></mat-divider>
              <div mat-subheader>Editors</div>
              <mat-list-item *ngFor="let u of editors">
                <mat-icon mat-list-icon>account_box</mat-icon>
                <div mat-line>{{u.name}}</div>
                <div mat-line> {{u.email}} </div>
                <button mat-icon-button color="warn" (click)="removeUser(u)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-list-item>
              <mat-divider></mat-divider>
              <div mat-subheader>Viewers</div>
              <mat-list-item *ngFor="let u of viewers">
                <mat-icon mat-list-icon>account_box</mat-icon>
                <div mat-line>{{u.name}}</div>
                <div mat-line> {{u.email}} </div>
                <button mat-icon-button color="warn" (click)="removeUser(u)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
            <div class="mt-5" style="float: right;margin-top: 80px;">
              <button mat-stroked-button color="primary" matStepperPrevious>
                Previous
              </button>

              <button
                mat-flat-button
                color="primary"
                class="mx-2"
                matStepperNext
              >
                Next
              </button>
            </div>
          </mat-step>

          <mat-step [stepControl]="technicalInfo">
            <form [formGroup]="technicalInfo">
            <h3 class="text-center text-bold mt-4">ROCOMMENDATION</h3>
            <p class="text-center lead">
              Select your RMS offer associated with your need
            </p>

            <div class="row mt-5">
              <div class="col-6">
                <div class="row">
                  <img
                    src="../../assets/best.png"
                    style="width:75px"
                    class=""
                    alt=""
                  />
                </div>
              </div>
              <div class="col-6 text-center pl-5" style="margin-left: auto">
                <p>135 din HT / mois</p>
                <p>soit 160.65 din TTC / mois</p>
              </div>
            </div>
            <hr />

            <div class="row">
              <div class="col-md-4">
                <label for="selectSubscribe" class="control-label" style="font-size: 16px;"
                  >Choose your subscribe period</label
                >
              </div>
              <div class="col-md-8">
                <select id="selectSubscribe" class="form-control" formControlName="period_subscription" required>
                  <option value="12" selected="selected">12 Months</option>
                  <option value="24">24 Months</option>
                  <option value="36">36 Months</option>
                  <option value="60">60 Months</option>
                </select>
              </div>
            </div>

            <br />
            <br />
            <br />
            <br />

            <div class="form-group">
              <div class="row">
                <div class="col-4">
                  <label for="selectDatabase" class="control-label"
                    >Choose a database associated with your need</label
                  >
                </div>
                <div class="col-8 ">
                  <select id="selectDatabase" class="form-control" formControlName="databasesize" required>
                    <option value=20 selected="selected"
                      >10 GB
                      Space
                      <span>
                        <h1 style="color:green;text-align:right">20 ᴰᵀ</h1>
                      </span>
                    </option>
                    <option value=50
                      >50 GB
                      Space
                      <h1 style="color:green;text-align:right">50 ᴰᵀ</h1>
                    </option>
                    <option value=120
                      >100 GB
                      Space
                      <span>
                        <h1 style="color:green;text-align:right">120 ᴰᵀ</h1>
                      </span>
                    </option>
                    <option value=210
                      >250 GB
                      Space
                      <h1 style="color:green;text-align:right">210 ᴰᵀ</h1>
                    </option>
                    <option value=470
                      >500 GB
                      Space
                      <h1 style="color:green;text-align:right">470 ᴰᵀ</h1>
                    </option>
                    <option value=800
                      >1000 GB
                      Space
                      <h1 style="color:green;text-align:right">800 ᴰᵀ</h1>
                    </option>
                    <option value=1600
                      >2000 GB
                      Space
                      <h1 style="color:green;text-align:right">1600 ᴰᵀ</h1>
                    </option>
                    <option value=3000
                      >5000 GB
                      Space
                      <h1 style="color:green;text-align:right">3000 ᴰᵀ</h1>
                    </option>
                    <option value=5000
                      >Unlimited storage
                      Space
                      <h1 style="color:green;text-align:right">5000 ᴰᵀ</h1>
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-md-4">
                  <label for="selectSLA" class="control-label"
                    >Choose the SLA associated with your need</label
                  >
                </div>

                <div class="col-md-8">
                  <select id="selectSLA" class="form-control" formControlName="slatype" required>
                    <option value="15" selected="selected">
                      <strong>Three SLA Event/Metric Types</strong>(First
                      Response | Update |
                      Solved)&nbsp;&nbsp;&nbsp;&nbsp;
                      <h1 style="color:green;text-align:right">
                        15
                        <sup>ᴰᵀ</sup>
                      </h1>
                    </option>
                    <option value="30">
                      <strong>Additional SLA Event/Metric Types</strong
                      >(Assignment | Workaround |
                      Custom)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <h1 style="color:green;text-align:right">
                        30
                        <sup>ᴰᵀ</sup>
                      </h1>
                    </option>
                    <option value="40">
                      <strong
                        >Multiple SLA Event Types & Advanced SLA Workflow
                        Models</strong
                      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <h1 style="color:green;text-align:right">
                        40
                        <sup>ᴰᵀ</sup>
                      </h1>
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-md-4">
                  <label for="selectSupport" class="control-label"
                    >Choose the support associated with your need</label
                  >
                </div>
                <div class="col-md-8 ">
                  <select id="selectSupport" class=" form-control" formControlName="supporttype" required>
                    <option value="0">No support</option>
                    <option value="support1" selected="selected"
                      >1 day support /
                      month
                      <h1 style="color:green;text-align:right">
                        20
                        <sup>ᴰᵀ</sup>
                      </h1>
                    </option>
                    <option value="support5"
                      >5 days support /
                      month
                      <h1 style="color:green;text-align:right">
                        65
                        <sup>ᴰᵀ</sup>
                      </h1>
                    </option>
                    <option value="support10"
                      >10 day support /
                      month
                      <h1 style="color:green;text-align:right">
                        150
                        <sup>ᴰᵀ</sup>
                      </h1>
                    </option>
                    <option value="support"
                      >Unlimited hour of
                      support
                      <h1 style="color:green;text-align:right">
                        180
                        <sup>ᴰᵀ</sup>
                      </h1>
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div style="padding-left: 40px;padding-right: 40px">
              <br />
              <div
                style="color:black;margin-left: 20px;margin-right: 20px;text-align: left"
              >
                <div class="row">
                  <h4 class="col-md-2 text-bold">Support & SLA</h4>
                  <h6 class="col-md-2" style="color: red;padding-top: 5px">
                    "Free offer"
                  </h6>
                </div>
                <br />
                <ul>
                  <li class="pull-left">Multiple SLA Plan's,and Assistant</li>
                  <br />
                  <li class="pull-left">Pre-warming & Beach Notification's</li>
                  <br />
                  <li class="pull-left">Business Hours Measurement</li>
                  <br />
                  <li class="pull-left">
                    We provide technical support all RMS services released to
                    General Availability, including Backup, <br />
                    through RMS Support, starting at 0.0dt/month. Biling and
                    subscription management support is provided at no cost.
                  </li>
                  <br />
                  <li class="pull-left">
                    We guarantee at least 99.9% availability of the backup and
                    restore functionality of the RMS Backup service.
                  </li>
                  <br />
                  <br />
                  <li class="pull-left">
                    Availability is calculated over a yearly billing cycle.
                  </li>
                  <br />
                  <li class="pull-left">
                    RMS Backup uses Block Blob storage for backing up your
                    instances
                  </li>
                  <br />
                  <br />
                  <br />
                  <br />
                  <div class="row">
                    <h4 class="col-md-2 text-bold">Other Options</h4>
                    <h6 class="col-md-2" style="color: red;padding-top: 5px">
                      "Free offer"
                    </h6>
                  </div>
                  <br />
                  <li class="pull-left">Ultimited trafic</li>
                  <br />
                  <li class="pull-left">Free domain</li>
                  <br />
                  <li class="pull-left">SSH Access (Certifica SSL EV)</li>
                  <br />
                  <li class="pull-left">Free acces to documentation</li>
                  <br />
                  <li class="pull-left">Free acces to user manuel</li>
                  <br />
                  <li class="pull-left">Free acces to forum</li>
                  <br />
                </ul>
              </div>

              <br />
            </div>

            <div class="mt-5" style="float: right;">
              <button mat-stroked-button color="primary" matStepperPrevious>
                Previous
              </button>

              <button
                mat-flat-button
                color="primary"
                class="mx-2"
                matStepperNext
                [disabled]="technicalInfo.invalid"
              >
                Next
              </button>
            </div>
          </form>
          </mat-step>

          <mat-step [stepControl]="personalInfo">
            <h1 style="color:black;" class="fs-title text-center">
              <b>Personal Information</b>
            </h1>
            <form [formGroup]="personalInfo">

              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  [class.is-invalid]="getControlValue('name').invalid && getControlValue('name').touched"
                  formControlName="name"
                  required
                />
                <div class="invalid-feedback">
                  should be at least 5 characters.
                </div>
              </div>

              
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input
                  id="email"
                    type="email"
                    class="form-control"
                    formControlName="email"
                    [class.is-invalid]="getControlValue('email').invalid && getControlValue('email').touched"
                    required
                  />
                  <div class="invalid-feedback">
                    Please enter a valid email address.
                  </div>
                </div>


                <div class="form-row">
                  <div class="col">
                    <div class="form-group mr-2">
                      <label for="motpass">Password</label>
                      <input
                        type="password"
                        class="form-control"
                        id="motpass"
                        formControlName="motpass"
                        [class.is-invalid]="getControlValue('motpass').invalid && getControlValue('motpass').touched"
                        required
                      />
                      <div class="invalid-feedback">
                        should be at least 6 characters.
                      </div>
                    </div>
                    
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="confpass">Confirm Password</label>
                      <input
                        type="password"
                        class="form-control"
                        id="confpass"
                        formControlName="confpass"
                        [class.is-invalid]="personalInfo.errors?.passwordsNotMatch && getControlValue('name').touched"
                        required
                      />
                      <div class="invalid-feedback">
                        Passwords need to match.
                      </div>
                    </div>
                    
                  </div>
                </div>

  
                <div class="form-group">
                  <label for="activity">Activity</label>
                  <input
                    type="text"
                    class="form-control"
                    id="activity"
                    formControlName="activity"
                    [class.is-invalid]="getControlValue('activity').invalid && getControlValue('activity').touched"
                    required
                  />
                  <div class="invalid-feedback">
                    this field is required.
                  </div>
                </div>
                
              

              <div class="form-group">
                <label for="adresse">Address</label>
                <input
                  type="text"
                  class="form-control"
                  id="adresse"
                  formControlName="adresse"
                  [class.is-invalid]="getControlValue('adresse').invalid && getControlValue('adresse').touched"
                  required
                />
                <div class="invalid-feedback">
                  this field is required.
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <div class="form-group mr-2">
                    <label for="city">City</label>
                    <input
                      type="text"
                      class="form-control"
                      id="city"
                      formControlName="city"
                      [class.is-invalid]="getControlValue('city').invalid && getControlValue('city').touched"
                      required
                    />
                    <div class="invalid-feedback">
                      this field is required.
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="codepostal">Postal Code</label>
                    <input
                      type="text"
                      class="form-control"
                      id="codepostal"
                      formControlName="codepostal"
                      [class.is-invalid]="getControlValue('codepostal').invalid && getControlValue('codepostal').touched"
                      required
                    />
                    <div class="invalid-feedback">
                      this field is required.
                    </div>
                  </div>
                </div>
              </div>

              

              <div class="form-group">
                <label for="numtel">Telephone number</label>
                <input
                  type="number"
                  class="form-control"
                  id="numtel"
                  formControlName="numtel"
                  [class.is-invalid]="getControlValue('numtel').invalid && getControlValue('numtel').touched"
                  required
                />
                <div class="invalid-feedback">
                  this field is required.
                </div>
              </div>

              <div class="form-group">
                <label for="website">Website</label>
                <input
                  type="text"
                  class="form-control"
                  id="website"
                  formControlName="website"
                  [class.is-invalid]="getControlValue('website').invalid && getControlValue('website').touched"
                />
              </div>

              <div class="form-group">
                <label for="sector">Sector</label>
                <input
                  type="text"
                  class="form-control"
                  id="sector"
                  formControlName="sector"
                  [class.is-invalid]="getControlValue('sector').invalid && getControlValue('sector').touched"
                  required
                />
                <div class="invalid-feedback">
                  this field is required.
                </div>
              </div>

              <div class="form-group">
                <label for="file">Logo</label>
                <input
                  type="text"
                  class="form-control"
                  id="file"
                  formControlName="file"
                  [class.is-invalid]="getControlValue('file').invalid && getControlValue('file').touched"
                  required
                />
                <div class="invalid-feedback">
                  this field is required.
                </div>
              </div>

              <div class="form-group">
                <label for="description">Description</label>
                <textarea
                  type="text"
                  class="form-control"
                  id="description"
                  formControlName="description"
                  [class.is-invalid]="getControlValue('description').invalid && getControlValue('description').touched"
                  required
                ></textarea>
                <div class="invalid-feedback">
                  this field is required.
                </div>
              </div>

              
            </form>
            <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
              {{errorMsg}}
              <button type="button" class="close" (click)="dismissAlert()">
                <span class="material-icons">
                  close
                  </span>
              </button>
            </div>
            <div class="mt-5" style="float: right;margin-top: 80px;">
              <button mat-stroked-button color="primary" class="mx-2" matStepperPrevious>
                Previous
              </button>

              <button
                          mat-flat-button
                          color="primary"
                          class="mx-2"
                          (click)="submitAll(stepper)"
                          [disabled]="isLoading || !personalInfo.valid"
                        >
                          <span *ngIf="!isLoading">Login</span>
                          <div *ngIf="isLoading" class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </button>

              <!-- <button
                mat-flat-button
                color="primary"
                class="mx-2"
                (click)="submitAll(stepper)"
                [disabled]="!personalInfo.valid"  
              >
                Next
              </button> -->
              
            </div>
          </mat-step>

          <mat-step>
            <h3 class="text-center">Contracts</h3>
            <h4 class="text-center">Validation of contracts</h4>

            <div
              class="rounded text-center"
              style="background-color: #eee;border: 1px solid #ddd;border-radius: 8px;"
            >
              <div class="form-group text-center" style="width:99%">
                <label class="col-sm-12 control-label" style="text-align: left">
                  <span class="glyphicon glyphicon-arrow-down pull-left"></span
                  >contract_partDomain</label
                >
                <div class="col-sm-12">
                  <textarea
                    rows="13"
                    cols="100"
                    class="form-control"
                    onscroll="this"
                    readonly
                    style="background: white;text-align: left;resize:none"
                  >
                      OVH CONDITIONS PARTICULIERES D'ENREGISTREMENT,DE RENOUVELLEMENT ET DE TRANSFERT DE NOMS DE DOMAINE Mis à jour en date du
                      21 Juin 2010 Définitions: Unité d'Enregistrement (Registrar):Entité agréée par l'ICANN, constituant un intermédiaire
                      technique au travers duquel les demandes d'enregistrement de Noms de Domaine peuvent être soumises au Registre,
                      OVH, ayant reçu l'agrément de l'ICANN, est en mesure de proposer les présentes prestations. ICANN (Internet Corporation
                      for Assigned Names and Numbers) http://www.icann.org : Organisme tiers au présent contrat, définissant notamment
                      les règles d'attribution et de gestion des Noms... http://www.icann.org : Organisme tiers au présent contrat,
                      définissant notamment les règles d'attribution et de gestion des Noms... http://www.icann.org : Organisme tiers
                      au présent contrat, définissant notamment les règles d'attribution et de gestion des Noms... Définitions: Unité
                      d'Enregistrement (Registrar):Entité agréée par l'ICANN, constituant un intermédiaire technique au travers duquel
                      les demandes d'enregistrement de Noms de Domaine peuvent être soumises au Registre, OVH, ayant reçu l'agrément
                      de l'ICANN, est en mesure de proposer les présentes prestations. ICANN (Internet Corporation for Assigned Names
                      and Numbers) http://www.icann.org : Organisme tiers au présent contrat, définissant notamment les règles d'attribution
                      et de gestion des Noms... http://www.icann.org : Organisme tiers au présent contrat, définissant notamment les
                      règles d'attribution et de gestion des Noms... http://www.icann.org : Organisme tiers au présent contrat, définissant
                      notamment les règles d'attribution et de gestion des Noms...
                    </textarea
                  >
                </div>
                <a
                  href="contracts/contract_partDomain.pdf"
                  style="float: left"
                  target="_blank"
                  >&nbsp;&nbsp;
                  <img
                    src="../../assets/export-pdf.png"
                    style="width:18px;height:18px;"
                  />Ouvrir le contrat "contrat_partDomain" au format PDF</a
                >
              </div>

              <div class="form-group" style="width:99%">
                <label class="col-sm-12 control-label" style="text-align: left">
                  <span class="glyphicon glyphicon-arrow-down pull-left"></span
                  >Conditions générales de service</label
                >
                <div class="col-sm-12">
                  <textarea
                    rows="13"
                    cols="100"
                    class="form-control"
                    onscroll="this"
                    readonly
                    style="background: white;text-align: left;resize:none"
                  >
                      CONDITIONS GENERALES DE SERVICE Dernière version en date du 17/11/2017 Les présentes sont conclues entre : La société OVH,
                      SARL, société au capital de 10000 DT MF : 1111538F/A/M/000 RC : B24122392009 Rue 8300, Résidence TALAL, Appartement
                      B 3-2, Montplaisir CP 1082, Tunis, représentée par M.KLABA, ci-dessous nommée OVH, et entre toute personne physique
                      ou morale, particulier ou professionnel, de droit privé ou de droit public souhaitant s'engager dans une ou plusieurs
                      des prestations fournies par la société OVH, ci-après nommée le Client. DEFINITIONS : DEFINITIONS : DEFINITIONS
                      : DEFINITIONS : DEFINITIONS : DEFINITIONS : DEFINITIONS : DEFINITIONS : DEFINITIONS : DEFINITIONS :
                    </textarea
                  >
                </div>
                <a
                  href="contracts/Conditions_générales_de_service.pdf"
                  style="float: left"
                  target="_blank"
                  >&nbsp;&nbsp;
                  <img
                    src="../../assets/export-pdf.png"
                    style="width:18px;height:18px;"
                  />Ouvrir le contrat "Condition générales de service" au format
                  PDF</a
                >
              </div>
            </div>
            <br />
            <br />
            <h5>Acceptance of contracts</h5>

            <br />

            <div class="checkbox" style="float: left">
              <label>
                <input
                  type="checkbox"
                  id="field_terms"
                  required
                  name="terms"
                  [formControl]="acceptTerms"
                />I have read the contracts and I accept them
              </label>
            </div>
            <!--<p><input type="submit"></p>-->
            <br />
            <br />
            <br />
            <hr style="border-bottom:1px dotted lightgray" />
            <br />
            <div class="mt-5" style="float: right;">
              <button mat-stroked-button color="primary" matStepperPrevious>
                Previous
              </button>

              <button
                mat-flat-button
                color="primary"
                class="mx-2"
                (click)="finish()"
                [disabled]="acceptTerms.invalid"
              >
                Finish
              </button>
            </div>
          </mat-step>
        
        </mat-horizontal-stepper>
      </div>
    </div>
  </div>
</div>
