// ::ng-deep .mat-horizontal-stepper-header{
//   pointer-events: none !important;
// }

.back{
height: 100%;
}

.content-wrapper{
  //height: 1500px;
}

#logo{
  justify-content: center;
  text-align: center;
}


.page {
  width: 100vw; height: 150vh;

  flex: 1;

}



.overflow {

  padding-bottom: 5vh;
  //height: 90vh;
  overflow-y: auto;
}
